@charset "UTF-8";
/*CSS Document*/

body {
	max-width: 90%;
	padding: 10px;
	margin: 64px;
	text-align: left;
	line-height: 1.2em;
	font-family: serif;
	background-color: black;
	color: #999;
	font-size: 1.1em;
}

p {
	text-indent: 2.5em;
}

.bbcode-center p {
	text-indent: 0px;
}

blockquote {
	border-left: 5px solid currentColor;
	padding-left: 35.2px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

img {
	max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
	text-align: left;
}

.authors-note {
	border-top: 3px double currentColor;
	border-bottom: 3px double currentColor;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}

nav, article {
	border-top: 3px double currentColor;
	margin-top: 2.0em;
}